Django>=5.2.5
datetime
gunicorn==21.2.0
psycopg2-binary>=2.9.1
pytest-django == 4.11.1
djangorestframework == 3.16.1
dotenv
openai == 2.12.0
dotenv
python-dateutil
channels
channels-redis
daphne>=4.0.0
aiogram
requests
celery
