{% block content %}
    <h1>Зарегистрируйтесь</h1>
   <div class="form_auth_block">
       <div class="form_auth_block_content">
    <form id="register-form"  action="#" method="post">
      <input type="email" id="email" placeholder="Введите Ваш имейл" required ><br><br>
        <input type="text" id="name" placeholder="Введите Ваше Имя" required ><br><br>
        <input type="text" id="surname" placeholder="Введите Вашу Фамилию" required ><br><br>
      <input type="password" id="password" placeholder="Введите пароль" required ><br><br>
      <button class="submit"  type="submit" name="register" >Зарегистрироваться</button><br>
    </form>
  </div>
</div>
{% endblock %}


